<footer class="page-footer font-small bg-warning pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-net">
                <li>
                    <a href="https://www.linkedin.com/in/amanda-santos-8b1852235/" target="_blank" class="ico-linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://github.com/Amanda1011" target="_blank" class="ico-github"> <i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright bg-warning text-center py-3">
        <span class="text-light">© 2022 Copyright Amanda</span>
    </div>

</footer>